In [1]:
import pandas as pd

df = pd.read_csv('employee.csv')
average_salary = df.groupby(["country", "sex"])["salary"].mean()

print(average_salary)

country           sex
Afghanistan       m      2094.500000
Algeria           m      1942.495000
Angola            m      1662.635000
Antarctica (Arg)  m      1383.600000
Argentina         f      1558.206000
                            ...
Uruguay           m      1856.390000
Vanuatu           m      1578.340000
Venezuela         m      1917.013333
Yemen             f      1838.900000
                  m      1968.048333
Name: salary, Length: 178, dtype: float64